## Actionable Insights On New Movies

Please fill out:
* Franko Ndou
* Full Time NYC-DS-080723
* Phase 2  
* Joe Matta

## In this jupyter notebook we explore movie datasets from:

Box Office https://www.boxofficemojo.com/

IMDB https://www.imdb.com/

Rotten Tomatoes https://www.rottentomatoes.com/

TheMovieDB https://www.themoviedb.org/

The Numbers https://www.the-numbers.com/

In [2]:
#Importing libraries
import pandas as pd

In [5]:
boxOfficeDF = pd.read_csv("../zippedData/bom.movie_gross.csv.gz")
boxOfficeDF.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [13]:
import pandas as pd

In [22]:
boxOfficeDF.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

## ROTTEN TOMATOES DATABASE

In [35]:
rtDF = pd.read_csv("\\Users\\beast\\Documents\\Flatiron\\Phase-2-notebooks\\Actionable-insights-on-new-movies\\zippedData\\rt.movie_info.tsv.gz", sep = '\t')
rtDF.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [36]:
rtDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

## Business Questions
What are the top-grossing movie genres in the current market, and how have their popularity trends evolved over the past few years?

Which demographic groups are driving the highest box office revenue, and what genres or themes resonate most with these audiences?

Can we identify any successful trends or patterns in the distribution and marketing strategies of recent blockbuster movies?

What are the most lucrative international markets for Hollywood films, and how can we tailor our content to appeal to these diverse audiences?

Are there any untapped niche genres or storytelling approaches that have shown potential for profitability in the modern movie landscape?

How do critical acclaim and audience reception correlate with box office success, and can we use this information to refine our content development and marketing strategies?

What are the emerging technologies and platforms (e.g., streaming services, virtual reality) that are shaping the future of the film industry, and how can we leverage them to our advantage?

What is the average budget range for successful movies in various genres, and how can we allocate our resources effectively to maximize ROI?

Who are the rising talents, directors, writers, and actors in the industry, and how can we collaborate with them to enhance the appeal of our productions?

What is the competitive landscape like in the movie industry, and what unique selling propositions can our studio develop to stand out and capture market share?

In [ ]:
# Your code here - remember to use markdown cells for comments as well!